$inputBorderWidth: 2px;
$inputPaddingWidth: 8px;

.text-input {
  border: $inputBorderWidth solid skyblue;
  border-radius: $inputBorderWidth;
  padding: 0 $inputPaddingWidth;
  height: calc(30px - (2 * #{$inputBorderWidth}));
  width: calc(100% - (2 * #{$inputBorderWidth}) - (2 * #{$inputPaddingWidth}));

  &:focus {
    box-shadow: 0 0 2px 2px goldenrod;
    outline: none;
  }

  &::placeholder {
    color: skyblue;
  }
}
