
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 240px;
}

.login__button{
  &.create {
    height: 32px;
  }

  &.submit {
    background-color: goldenrod;
  }
}

.login__form {
  width: 100%;

  > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.login__heading {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}
